
<div class="row g-5">
    <div class="col-12 col-xl-8">
        <h4 class="mb-3">Name</h4>
        <input name='name' id='name' class="form-control mb-5" type="text" value="<%= @recipe.name %>" placeholder="Chocolate Chip Cookies">

        <div class="d-flex align-items-center">
            <h4 class="me-3">Category</h4>
            <!-- Button trigger modal -->
            <a role="button" href="" class="" data-bs-toggle="modal" data-bs-target="#newCategoryModal">
            New Category
            </a>
        </div>
        <div id="category_buttons">
          <% if @categories.length() > 0 %>
            <% @categories.each do |category| %>
              <button type="button" class="btn btn-outline-danger" data-key="<%= category.apikey %>"><%= category.category_name %></button>
            <% end %>
          <% else %>
            <p id="no_category_notice">No categories yet! </p>
          <% end %>
        </div>

        <div class="mb-6">
            <h4 class="mb-3">Cover Image</h4>
            <input class="form-control" id="cover_image" name="cover_image" type="file">
        </div>

        <div class="mb-6">
            <input type="hidden" id="user_id" name="user_id" value="<%= @current_user.id %>">
            <div id="selected-categories"></div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </div>
</div>