<h1>Recipes#index</h1>
<p>Find me in app/views/recipes/index.html.erb</p>
<a href="/recipes/new">Add new recipe</a>

<ul>
<% @recipes.each do |recipe| %>
    <li><%= image_tag url_for(recipe.cover_image), class: "img-fluid img-gallery"%><%= recipe.name %></li>
<% end %>
</ul>