<h1 class="mb-5">Welcome back!</h1>
<%= form_tag(do_signin_path, class: "form-validate") do %>
    <div class="mb-4">
        <label class="form-label" for="loginUsername">Email Address</label>
        <input name="email" placeholder="name@address.com" autocomplete="off" required="" type="email" id="email" class="form-control">
    </div>
    <div class="mb-4">
        <div class="row">
            <div class="col">
                <label class="form-label" for="loginPassword">Password</label>
            </div>
            <div class="col-auto">
                <a href="<%= forgot_password_path %>" class="form-text small text-primary">Forgot password?</a>
            </div>
        </div>
        <div id="password-container">
            <input name="password" placeholder="Password" required="" type="password" id="password" class="form-control">
            <svg id="show-pw" class="px-2" onclick="togglePassword()" data-name="Layer 1" width="40" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><title>eye-glyph</title><path d="M320,256a64,64,0,1,1-64-64A64.07,64.07,0,0,1,320,256Zm189.81,9.42C460.86,364.89,363.6,426.67,256,426.67S51.14,364.89,2.19,265.42a21.33,21.33,0,0,1,0-18.83C51.14,147.11,148.4,85.33,256,85.33s204.86,61.78,253.81,161.25A21.33,21.33,0,0,1,509.81,265.42ZM362.67,256A106.67,106.67,0,1,0,256,362.67,106.79,106.79,0,0,0,362.67,256Z"/></svg>
            <svg id="hide-pw" class="px-2" onclick="togglePassword()" data-name="Layer 2" width="40" xmlns="http://www.w3.org/2000/svg" style='display: none' viewBox="0 0 512 512"><title>eye-disabled-glyph</title><path d="M409.84,132.33l95.91-95.91A21.33,21.33,0,1,0,475.58,6.25L6.25,475.58a21.33,21.33,0,1,0,30.17,30.17L140.77,401.4A275.84,275.84,0,0,0,256,426.67c107.6,0,204.85-61.78,253.81-161.25a21.33,21.33,0,0,0,0-18.83A291,291,0,0,0,409.84,132.33ZM256,362.67a105.78,105.78,0,0,1-58.7-17.8l31.21-31.21A63.29,63.29,0,0,0,256,320a64.07,64.07,0,0,0,64-64,63.28,63.28,0,0,0-6.34-27.49l31.21-31.21A106.45,106.45,0,0,1,256,362.67ZM2.19,265.42a21.33,21.33,0,0,1,0-18.83C51.15,147.11,148.4,85.33,256,85.33a277,277,0,0,1,70.4,9.22l-55.88,55.88A105.9,105.9,0,0,0,150.44,270.52L67.88,353.08A295.2,295.2,0,0,1,2.19,265.42Z"/></svg>
        </div>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
    </div>
<% end %>
<hr class="my-4">
<p class="text-center">
    <small class="text-muted text-center">Don't have an account yet?&nbsp;
        <a href="/signup">Sign Up</a>
    </small>
</p>
