:root {
    /* --color-primary: #DD2323; */
    --color-primary: #44b52d;
    --color-primary-lightest: #DEEED7;
    --color-primary-lightest2: #F4F9F1;
    --color-primary-light: #B3D9A3;
    --color-primary-dark: #668C56;
    --color-primary-dark1: #58784A;
    --color-primary-dark2: #49643D;
    --color-primary-dark3: #3A5031;
    --color-primary-dark4: #2C3C25;
}

body {
    height: 100%;
    margin: 0;
}

main {
    margin: 50px 0;
}

.page-action-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.page-action-header h1 {
    margin: 0;
}

.page-action-header a {
    color: var(--color-primary-darkest);
    text-decoration: none;

}

/* Landing Header */
#landing-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    color: white;
    background-color: var(--color-primary);
}

#landing-header .landing-header__links {
    display: flex;
    align-items: center;
    gap: 20px;
}
/* END Landing Header */

/* Auth layout */
#auth {
    height: 100%;
    display: flex;
}

.auth-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
}
.auth-content {
    display: flex;
    margin: auto;
}

.auth-right {
    background-color: var(--color-primary);
    height: 100%;
    width: 50%;
}

#password-container {
    display: flex;
}

#password-container > svg {
    margin-left: 5px;
}
/* END Auth layout */

/* New Recipe Category buttons */
#category_buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 35px;
}

#category_buttons > .selected-category {
    background-color: var(--color-primary);
    color: white;
}
/* END New Recipe Category buttons */

/* /recipes */
#recipes__categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

@media screen and (max-width: 1000px) {
    #recipes__categories {
        grid-template-columns: 1fr;
        gap: 35px;
    }
}

#recipes__categories .category {
    position: relative;
    height: 150px;
    display: flex;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
    background-color: var(--color-primary-lightest2);
}
#recipes__categories a {
    text-decoration: none;
}

#recipes__categories h2 {
    color: var(--color-primary-dark1);
}


#recipes__categories .category > img {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-top: 20px;
    height: 100%;
    border-radius: 0 0 20px 0;
}